!!!
html
  head
    title= title
    meta(name='description', content='')
    meta(name='author', content='George Erickson')
    link(rel='stylesheet', href='/less/style.less')
    script(src='/js/libs/less-1.2.1.min.js')
  body!= body
    script(src='/js/plugins.js')
    script(src='/js/script.js')
