- if (!everyauth.loggedIn)
  h2 Not Authenticated
 
  #github-login
    a(href='/auth/github', style='border: 0px')
      img(style='border: 0px', src='http://github.com/intridea/authbuttons/raw/master/png/github_64.png')
- else
  h2 Authenticated
  - if (everyauth.github)
    h3 GitHub User Data
    p= JSON.stringify(everyauth.github.user)
  
  h3
    a(href='/logout') Logout
